
<div>
    Consumer Details
</div>

<mat-list role="list">
    <mat-list-item role="listitem">Civility : {{consumer?.civility}}</mat-list-item>
    <mat-list-item role="listitem">FirstName : {{consumer?.firstname}}</mat-list-item>
    <mat-list-item role="listitem">LastName : {{consumer?.lastname}}</mat-list-item>
    <mat-list-item role="listitem">Email : {{consumer?.email}}</mat-list-item>
    <mat-list-item role="listitem">Phone : {{consumer?.phone}}</mat-list-item>
    <mat-list-item role="listitem">Creation Date : {{consumer?.createdAt}}</mat-list-item>
    <mat-list-item role="listitem">Update Date : {{ consumer?.updatedAt}}</mat-list-item>
  </mat-list>
  