<div>
  <mat-toolbar color="primary">
    <h1>{{ title }}</h1>
    <span class="fill-remaining-space"></span>
    <span>Right Aligned Text</span>
  </mat-toolbar>
  <mat-toolbar color="primary">
    <span>
      <a
        mat-icon-button
        matTooltip="Home"
        [routerLink]="'/home'"
        [routerLinkActive]="'is-active'"
      >
        <mat-icon>home</mat-icon>
      </a>
    </span>
    <span>
      <a
        mat-icon-button
        matTooltip="Consummer"
        routerLink="/consummer"
        routerLinkActive="is-active"
        >
        <mat-icon>list_alt</mat-icon>
      </a>
    </span>
    <span class="fill-remaining-space"></span>
    
    <span>
      <a
        mat-icon-button
        matTooltip="Login"
        routerLink="/login"
        routerLinkActive="is-active"
        >
        <mat-icon>person</mat-icon>
      </a>
    </span>

    
   </mat-toolbar>
</div>

<router-outlet></router-outlet>
